@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900;1000&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

body {
  padding: 10px;
}

.search-container {
  background-color: #f5f5f5;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
  line-height: 1.6;
}

#mssv {
  padding: 10px;
  border: none;
  border-radius: 10px;
  outline: none;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
}

#btn-search {
  padding: 10px;
  /* border: 1px solid #ccc; */
  border: none;
  border-radius: 10px;
  outline: none;
  background-color: #16151a;
  color: #fff;
  cursor: pointer;

}

#btn-reset {
  padding: 10px;
  /* border: 1px solid #ccc; */
  border: none;
  border-radius: 10px;
  outline: none;
  background-color: #16151a;
  color: #fff;
  cursor: pointer;
}

.custom-file-upload {
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  color: #333;
  background-color: #fff;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border: none;
  border-radius: 10px;
  outline: none;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
  /* width: 120px; */
}

#file-upload {
  display: none;
}

#file-name {
  display: inline-block;
  margin-left: 10px;
  font-size: 16px;
  color: #333;
}

.checkbox-style {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}
.checkbox-label {
  cursor: pointer;
}
.checkbox-style input {
  display: none;
}
.checkbox-box {
  width: 15px;
  height: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 0px;
  color: transparent;
  transition: all 0.2s linear;
}
.checkbox-input:checked + .checkbox-box {
  background-color: #16151a;
  border-color: #16151a;
  color: white;
}

#control{
  margin-top: 15px;
}

.hidden {
  display: none;
}


table {
  border-spacing: 1;
  border-collapse: collapse;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

table * {
  position: relative;
}

table td,
table th {
  padding-left: 8px;
}

table thead tr {
  height: 60px;
  background: #16151a;
}

table tbody tr {
  height: 50px;
}

table tbody tr:last-child {
  border: 0;
}

table td,
table th {
  text-align: left;
}

table td.l,
table th.l {
  text-align: right;
}

table td.c,
table th.c {
  text-align: center;
}

table td.r,
table th.r {
  text-align: center;
}

.table-head th {
  font-size: 16px;
  color: #fff;
  line-height: 1.2;
  font-weight: 700;
}

tbody tr:nth-child(even) {
  background-color: #f5f5f5;
}

tbody tr {
  font-size: 15px;
  color: gray;
  line-height: 1.2;
  font-weight: unset;
}

tbody tr:hover {
  color: #555;
  background-color: #f5f5f5;
  cursor: pointer;
}

@media screen and (max-width: 992px) {
  table {
    display: block;
  }

  table > *,
  table tr,
  table td,
  table th {
    display: block;
  }

  table thead {
    display: none;
  }

  table tbody tr {
    height: auto;
    padding: 37px 0;
  }

  table tbody tr td {
    padding-left: 40% !important;
    margin-bottom: 24px;
  }

  table tbody tr td:last-child {
    margin-bottom: 0;
  }

  table tbody tr td:before {
    font-size: 14px;
    color: #999;
    line-height: 1.2;
    font-weight: unset;
    position: absolute;
    width: 40%;
    left: 30px;
    top: 0;
  }

  table tbody tr td:nth-child(1):before {
    content: "Thứ";
  }

  table tbody tr td:nth-child(2):before {
    content: "Ngày thi";
  }

  table tbody tr td:nth-child(3):before {
    content: "Giờ thi";
  }

  table tbody tr td:nth-child(4):before {
    content: "Mã môn";
  }

  table tbody tr td:nth-child(5):before {
    content: "Môn thi";
  }

  table tbody tr td:nth-child(6):before {
    content: "Hình thức thi";
  }

  table tbody tr td:nth-child(7):before {
    content: "Khối thi";
  }

  table tbody tr td:nth-child(8):before {
    content: "Phòng thi";
  }

  table tbody tr td:nth-child(9):before {
    content: "Địa điểm";
  }

  table tbody tr td:nth-child(10):before {
    content: "Ghi chú";
  }

  tbody tr {
    font-size: 14px;
  }
}
